fastapi
uvicorn
sqlalchemy
geoalchemy2
alembic
psycopg[binary]
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0.0
python-multipart
shapely
pytest
httpx
pytest-asyncio
slowapi
